@import "variables";
@import "public";

.card-header {
    font-family: $roboto;
    font-weight: bold;
    font-size: 1.4rem;
}
.card-body {
    position: relative;
    // height: 35rem;
    padding: 0;
    .row {
        // height: 35rem;
    }
}
.left-panel {
    border-right: 1px solid rgba(0,0,0,0.12);
    height: 38rem;
    overflow-y: scroll;
    padding: 0.5rem;
    li {
        list-style: none;
        font-size: 1.2rem;
    }
}

.chat-area {
    overflow-y: scroll;
    height: 38rem;
    padding: 0.5rem;
    &.no-scroll {
        overflow-y: hidden;
    }
}

.custom-scroll::-webkit-scrollbar {
    width: 0.7rem;
}
 
.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.message {
    display: block;
    padding: 0.5rem 1.2rem;
    border-radius: 2.8rem;
    margin-bottom: 0.2rem;
    width: 80%;
    position: relative;
    line-height: 1.2rem;
    .username {
        // font-family: $permanent-marker;
        font-weight: 900;
        font-size: 1.4rem;
        margin-left: -0.1rem;
        margin-bottom: 0.4rem;
    }
    .content {
        font-size: 1.2rem;
    }
    .timestamp {
        text-align: right;
    }
}

.my-message {
    margin-left: auto;
}

.system-message {
    width: 100%;
    .content {
        font-size: 1.6rem;
        text-align: center;
    }
}

#message-form {
    display: flex;
    position: relative;
}

#spam-prevention {
    position: absolute;
    transform: translate(-50%, -110%);
    left: 50%;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
    &.hide {
        opacity: 0;
        pointer-events: none;
    }
}

#messageInput {
    outline: none;
    flex-grow: 1;
    padding: 0.2rem 0.8rem;
    border: 1px solid rgba(0,0,0,0.4);
    border-right: none;
    font-size: 1.2rem;
    transition: border-color 0.1s ease-in;
    resize: none;
    &:focus {
        border-color: rgba(0,0,0, 0.75);
    }
}
#message-send-btn {
    outline: none;
    flex-grow: 0.1;
    border: 1px solid rgba(0,0,0,0.12);
    background-color: $teal;
    color: white;
    font-size: 1.4rem;
    transition: filter 0.2s ease-in-out;
    &:disabled {
        filter: grayscale(0.8);
        opacity: 0.75;
    }
    &:not([disabled]):hover, &:not([disabled]):focus {
        filter: brightness(1.2);
    }
}

#create-room-btn {
    margin-bottom: 1rem;
}

#game-rule-modal {
    h1 {
        font-size: 3.2rem;
    }
    h2 {
        font-size: 2.4rem;
    }
    p {
        font-size: 1.5rem;
    }
    li {
        font-size: 1.4rem;
    }
    img {
        max-height: 10rem;
    }
}