@import 'variables';

.landing-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin-bottom: 2rem;
        color: $primary;
        font-family: $permanent-marker;
        font-size: 5rem;
        text-align: center;
    }
    input {
        outline: none;
        padding: 0.7rem 1.2rem;
        border-radius: 2.5rem;
        font-size: 1.5rem;
        border: 2px solid rgba(0,0,0,0.12);
        transition: border-color 0.25s ease-in-out, width 0.15s ease-in;
        width: 10rem;
        &:focus {
            border-color: rgba(0,0,0,0.75);
            width: 15rem;
        }
        &.invalid {
            border: 2px solid firebrick;
            color: firebrick;
            caret-color: firebrick;
        }
    }
    button {
        margin-left: 0.3rem;
        outline: none;
        font-size: 1.5rem;
        padding: 0.7rem 1.5rem;
        border-radius: 2rem;
        border: none;
        background-color: $secondary;
        color: $danger;
        transition: color 0.1s ease-in, padding 0.1s ease-in;
        &:hover, &:focus {
            color: $primary;
        }
        &.invalid {
            opacity: 0.5;
            pointer-events: none;
        }
    }
}

.alert-danger {
    font-size: 1.1rem;
    opacity: 0;
    transform: scaleY(0);
    transition: all 0.15s ease-in-out;
    &.show {
        opacity: 1;
        transform: scaleY(1);
    }
}

.color-picker {
    height: 10rem;
    width: 10rem;
    margin-bottom: 1rem;
}
.color {
    border: 2px solid rgba(0,0,0,0.4);
    &:hover, &.selected {
        border-color: black;
    }
}