@import "variables";
html, body {
    font-family: $nanum-pen-script;
}

body.loading {
    overflow: hidden;
}

a {
    color: inherit;
    &:hover, &:focus {
        text-decoration: none;
        color: inherit;
    }
}

.main-container {
    background-color: $danger;
    min-height: 100vh;
}

#loader {
    display: none;
    &.loading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(255,255,255,0.75);
        z-index: 999;
        overflow: hidden;
    }
}