$primary: #EDFF86;
$danger: #AF3E4D;
$secondary: #FF9F1C;
$teal: #2EC4B6;

$nanum-pen-script: 'Nanum Pen Script', cursive;
$permanent-marker: 'Permanent Marker', cursive;
$roboto: 'Roboto', sans-serif;